<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="std" class="com.nit.beans.Student">

        <property name="sid" value="101"/>
        <property name="sname" value="Hari"/>
        <property name="fees" value="25000"/>
        <property name="course" value="Full Stack Java"/>

    </bean>

</beans>
