<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="doctor" class="com.nit.beans.Doctor">
        <property name="doctorId" value="101"/>
        <property name="doctorName" value="Dr.Rajesh"/>
        <property name="specialization" value="Cardiologist"/>
    </bean>

    <bean id="patient" class="com.nit.beans.Patient">
        <property name="patientId" value="501"/>
        <property name="patientName" value="Rahul"/>
        <property name="disease" value="Fever"/>
        <property name="doctor" ref="doctor"/>
    </bean>

</beans>
