<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Beans Dafination-->
    <bean class="com.nit.beans.User" id="u_Id">
    <property name="id" value="8989"></property>
    <property name="u_name" value="Ravi"></property>
    <property name="u_email" value="sb@gmail.com"></property>
    <property name="u_mob_num" value="7895632895"></property>
    
    </bean>

</beans>
