<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="
http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="c_Id" class="com.nit.beans.Customer">

		<constructor-arg value="101" />

		<constructor-arg value="Suno" />

		<constructor-arg value="Laptop" />

		<constructor-arg value="55000" />

	</bean>

</beans>
