<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- LocalDate Bean -->
    <bean id="localDate" class="java.time.LocalDate"
          factory-method="now"/>

    <!-- DatePrinter Bean -->
    <bean id="datePrinter" class="com.nit.beans.DatePrinter">

        <!-- Setter Injection -->
        <property name="currentDate" ref="localDate"/>

    </bean>

</beans>
